<section class="hero">

    <div class="hero-container">

        <div class="hero-content">

            <div class="hero-logo">
                <img src="/static/img/logo.png" alt="Team Logo">
            </div>

            <h1>
                Knowledge<span>Hub</span>
            </h1>

            <div class="hero-tag">
                AI Knowledge Platform
            </div>


            <p>
                基于人工智能的智能知识库平台
                <br>
                探索知识、理解世界，让 AI 帮助你学习。
            </p >

            <div class="hero-buttons">
                <a
                    href="/category"
                    class="hero-primary">
                    开始探索
                </a >
            </div>

        </div>

    </div>

</section>