<section class="hero">
    <!-- 动态泡泡背景 -->
    <div class="gradient-bg">
        <svg xmlns="http://www.w3.org/2000/svg">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"/>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo"/>
                    <feBlend in="SourceGraphic" in2="goo"/>
                </filter>
            </defs>
        </svg>
        <div class="gradients-container">
            <div class="g1"></div>
            <div class="g2"></div>
            <div class="g3"></div>
            <div class="g4"></div>
            <div class="g5"></div>
        </div>
    </div>

    <div class="hero-container">

        <div class="hero-content">

            <div class="hero-logo">
                <img src="/static/img/logo.png" alt="Team Logo">
            </div>

            <h1>
                Knowledge<span>Hub</span>
            </h1>

            <div class="hero-tag">
                AI Knowledge Platform
            </div>


            <p>
                基于人工智能的智能知识库平台
                <br>
                探索知识、理解世界，让 AI 帮助你学习。
            </p >

            <div class="hero-buttons">
                <a
                    href="/category"
                    class="hero-primary">
                    开始探索
                </a >
            </div>

        </div>

    </div>

</section>