<section class="hero">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-8 text-center">

                <h1 class="display-4 fw-bold mb-4">

                    KnowledgeHub

                </h1>

                <p class="lead mb-5">

                    基于 AI 的智能知识库平台

                    <br>

                    支持知识查询、AI问答、AI总结与推荐阅读。

                </p>

                <a
                    href="/category"
                    class="btn btn-primary btn-lg px-5">

                    开始提问

                </a>

            </div>

        </div>

    </div>

</section>